{% extends 'basepage.html' %}
{% load staticfiles %}
{% block title %}二手交易{% endblock %}

{% block css %}

<!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="{% static 'dist/css/jquery.dataTables.min.css' %}">
  <!--<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">-->
  <!-- Theme style -->
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">二手交易</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
    <div class="col-xs-10 col-md-offset-1">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">二手交易</h3>
          <a href="{% url 'salebuy:salebuy_create' %}">
          <img src="{% static 'images/drop_plus.png' %}">
          </a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="datas_table" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>序号</th>
              <th>帖子标题</th>
              <th>内容</th>
              <th>价格</th>
              <th>发帖人</th>
            </tr>
            </thead>
            <tbody>

                {% for sale in sales %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{%url 'salebuy:salebuy_detail' sale.id %}">{{ sale.title }}</td>
                  <td>{{ sale.body|slice:'30' }}</td>
                  <td>{{ sale.price }}</td>
                  <td>{{ sale.author }}</td>
                </tr>
                {% empty %}
                  <tr>没有数据！</tr>
                {% endfor %}

            </tbody>
            <tfoot>
            <tr>
              <th>序号</th>
              <th>帖子标题</th>
              <th>内容</th>
              <th>价格</th>
              <th>发帖人</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block js %}
    <!-- DataTables -->
    <!--<script src="{% static 'dist/js/table.js' %}" type="text/javascript"></script>-->
    <script src="{% static 'dist/js/jquery.dataTables.min.js' %}"></script>
    <!--<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>-->
    <!-- SlimScroll -->
    <script src="{% static 'dist/js/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'dist/js/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
      $(document).ready(function () {
        $('#datas_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });
    </script>
{% endblock %}